.schematics-figure--36 .schematics-figure__figure__diagram-container {
  grid-column: 4 / -1;
  grid-row: 1 / -1;
}

.schematics-figure--36 .schematics-figure__figure__figcaption {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.schematics-figure--36 polyline,
.schematics-figure--36 .arrow,
.schematics-figure--36 circle {
  stroke-width: 1px;
}

.schematics-figure--36 .marker-click-overlay {
  cursor: pointer;
}

.schematics-figure--36 .arrow {
  stroke-dasharray: 5px;
}

.schematics-figure--36 .arrow.arrow--overlay {
  stroke: var(--color-bg-dark);
  stroke-width: 8px;
  fill: transparent;
  animation: draw-line 2s var(--swing-easing);
}
