.figure18 .diagram-container {
  grid-column: 6 / span 8;
  grid-row: 1 / -3;
}

.figure18 figcaption {
  grid-column: 13 / span 2;
  grid-row: 7 / span 2;
}

.figure18 .line {
  stroke-width: .8px;
}

.figure18 .option-label + .option-label-underline {
  visibility: hidden;
}

.figure18 .option-label--active {
  cursor: pointer;
}

.figure18 .option-label.option-label--active + .option-label-underline {
  visibility: visible;
}

.figure18 .option-arrow {
  stroke-dasharray: 0;
  animation: draw-line calc(var(--standard-animation-duration) * (var(--animatable-line-length) / 50)) ease-out;
  pointer-events: none;
}