.schematics-figure--14 .schematics-figure__figure__diagram-container {
  grid-column: 1 / -4;
  grid-row: 1 / -1;
}

/* We know that the spiral begins 30% from the edge,
 * and we want to position the figure more to the left edge of the area
 */
.schematics-figure--14 .diagram {
  transform: translateX(-25%);
}

.schematics-figure--14 .schematics-figure__figure__figcaption {
  grid-column: span 5 / -1;
  grid-row: 1 / span 3;
  align-self: center;
}

.schematics-figure--14 .axis {
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.schematics-figure--14 .spiral {
  stroke-width: 2px;
}

.schematics-figure--14 .spiral {
  stroke-dasharray: var(--animatable-line-length);
  animation: draw-line 10s linear;
}