.figure36 .diagram-container {
  grid-column: 4 / -1;
  grid-row: 1 / -1;
}

.figure36 figcaption {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.figure36 polyline,
.figure36 .arrow,
.figure36 circle {
  stroke-width: 1px;
}

.figure .marker-click-overlay {
  cursor: pointer;
}

.figure36 .arrow {
  stroke-dasharray: 5px;
}

.figure36 .arrow.arrow--overlay {
  stroke: var(--color-bg-dark);
  stroke-width: 8px;
  fill: transparent;
  animation: draw-line 2s var(--swing-easing);
}
