.figure14 .diagram-container {
  grid-column: 1 / -4;
  grid-row: 1 / -1;
}

/* We know that the spiral begins 30% from the edge,
 * and we want to position the figure more to the left edge of the area
 */
.figure14 .diagram {
  transform: translateX(-25%);
}

.figure14 figcaption {
  grid-column: span 5 / -1;
  grid-row: 1 / span 3;
  align-self: center;
}

.figure14 .line {
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.figure14 .spiral {
  stroke-width: 2px;
}

.figure14 .spiral {
  stroke-dasharray: var(--animatable-line-length);
  animation: draw-line 10s linear;
}