@import "./figure14.css";
@import "./figure18.css";
@import "./figure36.css";
@import "./figure43.css";

@keyframes draw-line {
  from {
    stroke-dasharray: var(--animatable-line-length);
    stroke-dashoffset: var(--animatable-line-length);
  }
  to {
    stroke-dasharray: var(--animatable-line-length);
    stroke-dashoffset: 0;
  }
}

.diagram-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.diagram-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.diagram {
  width: 100%;
  height: 100%;
}

.line {
  stroke: var(--color-text-light);
  fill: transparent;
}

.text {
  fill: var(--color-text-light);
  font-family: inherit;
  letter-spacing: .1em;
}

figcaption {
  font-size: var(--ms2);
  line-height: var(--double-baseline);
  letter-spacing: .1em;
}

.arrowhead-marker {
  stroke-width: 0;
  fill: var(--color-text-light);
}

.figure {
  position: relative;
  filter: none;
  opacity: 1;
  transition:
    opacity .1s ease-out,
    filter .1s ease-out;
}

.figure--exiting {
  filter: blur(5px);
  opacity: 0;
  transition-duration: .2s;
}

.figure::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, hsla(var(--hue-main), var(--sat-main), var(--color-bg-dark-lightness), 0.28) 49%, transparent 50%);
  background-repeat: repeat;
  background-size: 1px .17em;
  filter: blur(.015em);
  pointer-events: none;
}
