.line {
  stroke: var(--color-text-light);
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
}

.text {
  fill: var(--color-text-light);
  font-family: inherit;
  letter-spacing: .1em;
}

figcaption {
  font-size: var(--ms1);
  line-height: var(--baseline);
  letter-spacing: .1em;
}

.arrowhead-marker {
  stroke-width: 0;
  fill: var(--color-text-light);
}