.schematics-figure--43 .schematics-figure__figure__diagram-container {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.schematics-figure--43 .schematics-figure__figure__figcaption {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
}
