.figure14 .diagram-container {
  grid-column: 4 / span 8;
  grid-row: 1 / -1;
}

.figure14 figcaption {
  grid-column: span 7 / -1;
  grid-row: 3 / span 5;
  align-self: center;
}

.figure14 .line {
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.figure14 .spiral {
  stroke-width: 2px;
}

.figure14 .spiral {
  stroke-dasharray: var(--animatable-line-length);
  animation: draw-line 10s linear;
}