.grid {
  --grid-top-spacing: var(--triple-baseline);
  --grid-bottom-spacing: max(env(safe-area-inset-bottom), var(--baseline));
  --grid-column-gap: var(--triple-baseline);
  --grid-row-gap: calc(var(--baseline) * 6);

  @media (--layout-full-screen-figure) {
    [data-visible-view*="individual"] & {
      --grid-top-spacing: var(--baseline);
      --grid-row-gap: 0;
    }
  }

  @media (--layout-full-screen-figure-with-full-size-logo) {
    [data-visible-view*="individual"] & {
      --grid-top-spacing: var(--triple-baseline);
      --grid-row-gap: var(--double-baseline);
    }
  }

  @media (--layout-aside-always-visible) {
    --grid-bottom-spacing: var(--triple-baseline);
    --grid-column-gap: var(--double-baseline);
    --grid-row-gap: var(--baseline);
    --grid-template-columns: repeat(3, 1fr);
  }

  @media (--layout-capped-height) {
    --grid-top-spacing: calc(var(--baseline) * 6);
    --grid-bottom-spacing: calc(var(--baseline) * 6);
  }

  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
  margin: 0 auto;
  padding: var(--grid-top-spacing) var(--page-padding) var(--grid-bottom-spacing);
  height: 100%; /* Use % on mobile instead of vh because of differing behavior in combination with browser ui */
  transition: padding var(--micro-interaction-animation-duration) ease-in-out;

  [data-visible-view*="previews"] & {
    width: max-content;
  }

  [data-visible-view*="individual"] & {
    grid-template-rows: min-content 1fr;
  }

  @media (--layout-aside-always-visible) {
    grid-template-rows: min-content 1fr;
    grid-template-columns: var(--grid-template-columns);
    height: min(100vh, 80rem);
    margin: auto;

    [data-visible-view] & {
      width: min(110rem, 100%);
    }
  }
}

header {
  position: sticky;
  left: var(--page-padding);
}

main {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: max-content;
  min-width: 100%;
  overflow-y: hidden;

  @media (--layout-aside-always-visible) {
    max-width: 100%;
    overflow-x: hidden;
  }

  @media (--layout-capped-height) {
    height: min(50rem, 100%);
    align-self: flex-end;
  }
}

[data-visible-view*=individual] main {
  display: grid;
  align-items: stretch;
}

schematics-figure {
  grid-row: 1 / -2;
  grid-column: 1 / -1;
}

.schematics-figure__figure {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

schematics-figure-toolbar {
  position: fixed;
  bottom: var(--grid-bottom-spacing);
  right: var(--page-padding);
  left: var(--page-padding);
}

aside,
footer {
  position: sticky;
  width: calc(100vw - (2 * var(--page-padding)));
  left: var(--page-padding);
}

[data-visible-view*="individual"] footer,
[data-visible-view*="individual"] aside {
  display: none;
}

@media (--layout-aside-always-visible) {
  header {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    top: var(--grid-top-spacing);
    left: auto;
  }

  [data-visible-view] main {
    grid-column: 2 / -1;
    grid-row: 2;
  }

  [data-visible-view*=individual] main {
    grid-template-rows: repeat(8, 1fr);
  }

  [data-visible-view*="previews"] main {
    display: flex;
    align-items: flex-end;
    overflow: visible;
  }

  schematics-figure-toolbar {
    position: relative;
    grid-row: -2;
    grid-column: 1 / -1;
    align-self: flex-end;
    left: auto;
    bottom: auto;
    right: auto;
  }

  aside {
    bottom: var(--grid-bottom-spacing);
    left: auto;
    width: auto;
    grid-column: 1;
    grid-row: 2;

    /* No movement in individual figure view, but make tall
    * for sticky scrollin in figure previews view */
    align-self: flex-end;
  }

  footer {
    top: var(--grid-top-spacing);
    left: auto;
    width: auto;
    grid-row: 1;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: flex-end;
  }

  [data-visible-view] header,
  [data-visible-view] footer,
  [data-visible-view] aside {
    display: block;
  }
}
