:root {
  --num-of-grid-columns: 18;
  --num-of-grid-rows: 16;

  /* Needed to constrain the height of SVG while maintaining aspect ratio */
  --grid-row-height: calc(100vh / var(--num-of-grid-rows));

  --num-of-main-area-columns: calc(var(--num-of-grid-columns) - 1);

  --grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
  --grid-template-rows: repeat(var(--num-of-grid-rows), var(--grid-row-height));
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows);
  width: min(90rem, calc(100vw - (2 * var(--page-padding))));
  height: 100%;
  margin: 0 auto;
}

header {
  grid-column: span 10 / -4;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: flex-end;
}

main {
  --subgrid-columns: repeat(var(--num-of-main-area-columns), 1fr);
  --subgrid-rows: repeat(calc(var(--num-of-grid-rows) - 3), var(--grid-row-height));

  display: grid;
  grid-template-columns: var(--subgrid-columns);
  grid-template-rows: var(--subgrid-rows);
  grid-column: 1 / -2;
  grid-row: 3 / -2;
}

figure {
  display: grid;
  grid-template-columns: var(--subgrid-columns);
  grid-template-rows: var(--subgrid-rows);
  grid-column: 1/-1;
  grid-row: 1/-1;
}

aside {
  padding-top: var(--baseline);
  grid-column: 2 / span 3;
  grid-row: 2 / -1;
  z-index: 1;
}

nav {
  --num-of-nav-columns: calc(var(--num-of-main-area-columns) - 1);

  display: grid;
  grid-row: span 2 / -3;
  grid-column: span var(--num-of-nav-columns) / -1;
  grid-template-columns: repeat(var(--num-of-nav-columns), 1fr);
  grid-template-rows: var(--grid-row-height) var(--grid-row-height);
}

nav {
  --nav-arrow-span: 3;
}

nav a:first-child {
  grid-column: 1 / span var(--nav-arrow-span);
  grid-row: 2;
}

nav a:last-child {
  grid-column: span var(--nav-arrow-span) / -1;
  grid-row: 1;
}

footer {
  grid-row: span 1 / -1;
  grid-column: 1 / -3;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

footer span {
  margin-right: 2rem;
}