:root {
  --schematics-title-vertical-padding: .3rem;
  --schematics-title-line-height: var(--double-baseline);
  --schematics-title-height: calc(var(--schematics-title-line-height) + (2 * var(--schematics-title-vertical-padding)));
}

header {
  max-width: calc(var(--baseline) * 22);
  overflow: hidden;
  z-index: 10;
}

@media (min-width: 40em) {
  header {
    overflow: visible;
  }
}

h1,
h2 {
  display: inline-block;
  padding: var(--schematics-title-vertical-padding) 2em;
  font-size: var(--ms-2);
  font-weight: 400;
  line-height: var(--schematics-title-line-height);
  white-space: nowrap;
}

h1 {
  position: relative;
  background: var(--color-bg-light);
  text-transform: uppercase;
  letter-spacing: .5em;
  color: var(--color-text-dark);
}

h2 {
  --h2-border-width: .12em;

  position: relative;
  float: right;
  margin-top: var(--baseline);
  border: var(--h2-border-width) solid var(--color-text-light);
  letter-spacing: .2em;
  text-shadow: var(--schematics-text-shadow);
}

@media (min-width: 40em) {
  h2 {
    position: absolute; /* So that h1 is the anchor, vertically centered */
    margin-left: calc(var(--baseline) * 8);
  }
}

h2::before {
  content: "\2192";
  position: absolute;
  right: calc(100% + var(--baseline));
}

h1 span,
h2 span {
  display: inline-block;
  transform: scaleY(1.1);
}

h1 scan-lines,
h2 scan-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  color: var(--color-text-dark);
  pointer-events: none;
}

h1 scan-lines {
  opacity: .6;
  right: 0;
  left: 0;
}

h2 scan-lines {
  right: calc(var(--h2-border-width) * -1);
  left: calc(var(--triple-baseline) * -1);
}
