@import "./reset.css";
@import "./custom-media.css";
@import "./grid.css";
@import "./header.css";
@import "./aside.css";
@import "./footer.css";
@import "../components/SchematicsFigure/schematics-figure.css";
@import "../components/SchematicsFigure/schematics-figure-placements.css";
@import "../components/SchematicsFigurePreviews/schematics-figure-previews.css";
@import "../components/Diagram/diagram.css";
@import "../components/SchematicsFigureToolbar/schematics-figure-toolbar.css";

:root {
  --hue-main: 0;
  --sat-main: 0%;

  --color-white-lightness: 95%;
  --color-black-lightness: 10%;

  --color-bg-dark-lightness: var(--color-black-lightness);
  --color-bg-light-lightness: var(--color-white-lightness);

  --color-bg-dark: hsla(var(--hue-main), var(--sat-main), var(--color-bg-dark-lightness), 1);
  --color-bg-light: hsla(var(--hue-main), var(--sat-main), var(--color-bg-light-lightness), 1);

  --color-page-bg: var(--color-bg-dark);
  --color-page-bg-accent: hsla(var(--hue-main), var(--sat-main), calc(var(--color-bg-dark-lightness) * .3), 1);

  --color-text-light-lightness: 72%;

  --color-text-light: hsla(var(--hue-main), var(--sat-main), var(--color-text-light-lightness), 1);
  --color-text-dark: hsla(var(--hue-main), var(--sat-main), var(--color-black-lightness), 1);

  --baseline: .9rem;

  --double-baseline: calc(var(--baseline) * 2);
  --triple-baseline: calc(var(--baseline) * 3);

  --scale-factor: 1.1;
  --base-font-size: 1.1rem;

  --ms-2: calc(var(--ms-1) / var(--scale-factor));
  --ms-1: calc(var(--base-font-size) / var(--scale-factor));
  --ms0: var(--base-font-size);
  --ms1: calc(var(--ms0) * var(--scale-factor));
  --ms2: calc(var(--ms1) * var(--scale-factor));

  --page-padding: var(--baseline);

  --micro-interaction-animation-duration: .2s;
  --micro-interaction-animation-ease-out: cubic-bezier(.22, 1, .36, 1);

  --schematics-text-shadow: 0 0 .11rem var(--color-text-light);
  --schematics-letter-spacing: .1em;
  --schematics-figure-shadow-filter: drop-shadow(0 0 .05rem #fff);

  --figure-exit-transition-duration: .6s;

  @media (min-width: 30em) {
    --page-padding: var(--double-baseline);
  }

  @media (min-width: 60em) {
    --page-padding: var(--triple-baseline);
  }
}

html {
  height: 100%;
  min-height: -webkit-fill-available;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100%;
  min-height: -webkit-fill-available;
  font-family: helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background-color: var(--color-page-bg);
  color: var(--color-text-light);

  &[data-visible-view*="individual"] {
    height: 100%;
  }
}

a {
  &:hover,
  &:focus {
    color: #fff;
  }
}

main {
  position: relative;
}

main > scan-lines {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: calc(var(--page-padding) * -1); /* To account for toolbar overflowing elements */
  left: 0;
  color: var(--color-bg-dark);
  z-index: 10;
  pointer-events: none;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  [data-visible-view*="previews"] & {
    display: none;
  }
}

.button {
  --button-side-padding: var(--double-baseline);
  --button-height: var(--triple-baseline);
  --button-bg-color: #000;
  --button-text-color: var(--color-text-light);

  display: inline-block;
  position: relative;
  padding: 0 var(--button-side-padding);
  border-radius: .3rem;
  font-size: var(--ms-1);
  line-height: var(--button-height);
  letter-spacing: .05em;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  transition: color .1s, background-color .1s;
}

.button:hover,
.button:focus {
  color: var(--color-text-dark);
  background-color: var(--color-bg-light);
}
