@import "./reset.css";
@import "./grid.css";
@import "./figure.css";
@import "./nav.css";

:root {
  --hue-main: 0;

  --color-white: hsla(var(--hue-main), 0%, 95%, 1);
  --color-black: hsla(var(--hue-main), 0%, 10%, 1);

  --color-bg-light: var(--color-white);
  --color-bg-dark: var(--color-black);

  --color-text-light: hsla(var(--hue-main), 0%, 72%, 1);
  --color-text-dark: var(--color-black);

  --baseline: .9rem;

  --double-baseline: calc(var(--baseline) * 2);
  --triple-baseline: calc(var(--baseline) * 3);

  --scale-factor: 1.1;
  --base-font-size: 1.1rem;

  --ms-2: calc(var(--ms-1) / var(--scale-factor));
  --ms-1: calc(var(--base-font-size) / var(--scale-factor));
  --ms0: var(--base-font-size);
  --ms1: calc(var(--ms0) * var(--scale-factor));
  --ms2: calc(var(--ms1) * var(--scale-factor));

  --page-padding: 4rem;

  --standard-animation-duration: .15s;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: Helvetica Neue;
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
}

h1 {
  position: relative;
  display: inline-block;
  padding: .3em 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-size: var(--ms-2);
  font-weight: 400;
  line-height: var(--double-baseline);
  white-space: nowrap;
  color: var(--color-text-dark);
  background: var(--color-bg-light);
}

h1 span {
  display: inline-block;
  transform: scaleY(1.1);
}

h1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.28) 49%, transparent 50%);
  background-repeat: repeat;
  background-size: 1px .17em;
  filter: blur(.015em);
}

aside {
  max-width: 32ch;
  font-size: var(--ms-1);
  line-height: var(--double-baseline);
}

aside > * + * {
  margin-top: var(--double-baseline);
}

aside p a {
  text-decoration: underline;
  text-underline-position: under;
}

aside p a:hover,
aside p a:focus {
  color: #fff;
}

aside p em {
  font-style: italic;
}

aside [href="#about"] {
  margin-top: calc(var(--baseline) * 4);
}

h2 {
  font-weight: 700;
}

footer {
  font-size: var(--ms-2);
}

footer > * + * {
  margin-left: calc(var(--baseline) * 4);
}

footer a:hover,
footer a:focus {
  color: #fff;
}

footer a svg {
  width: 1.5em;
  margin-right: 0.6em;
  vertical-align: middle;
}

footer a span {
  text-decoration: underline;
  text-underline-position: under;
}

#copyright {
  opacity: .6;
}

.link-type {
  font-size: var(--ms-1);
  letter-spacing: .05em;
}

.button {
  --button-side-padding: 1.5em;
  --button-height: var(--triple-baseline);
  --button-icon-size: 1.2em;


  display: inline-block;
  position: relative;
  padding: 0 var(--button-side-padding);
  border-radius: .3em;
  background-color: #000;
  line-height: var(--button-height);
  transition: filter .15s;
}

.button:hover,
.button:focus {
  filter: invert(1);
}

.button__icon {
  position: absolute;
  left: calc(var(--button-side-padding) - .5em);
  top: 50%;
  transform: translateY(-50%);
  width: var(--button-icon-size);
  height: var(--button-icon-size);
}

.button--with-icon {
  padding-left: calc(var(--button-side-padding) + var(--button-icon-size));
}