nav {
  --faded-nav-link-color: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-light-lightness) - 20%), 1);

  display: flex;
  line-height: var(--triple-baseline);
  align-self: flex-end;
  justify-content: flex-end;
  letter-spacing: .05em;
  color: var(--faded-nav-link-color);
}

nav li {
  display: inline-block;
}

nav li + li {
  margin-left: var(--triple-baseline);
}

/* Increase hit area */
nav a {
  display: inline-block;
  padding: 0 1em;
  margin: 0 -1em;
}

nav .active a,
nav a:hover,
nav a:focus {
  color: var(--color-text-light);
  transition: transform var(--micro-interaction-animation-duration) ease;
}

nav .active {
  border-bottom: .2em solid var(--color-text-light);
}

nav a:focus {
  outline-offset: 1em;
}

/* Disabled arrow link */
.directional-link:not([href]) {
  opacity: .4;
}

nav .active a,
.directional-link:not([href]) {
  cursor: default;
}

.directional-link__label {
  display: none;
}