:root {
  --skew-appear-duration: var(--standard-animation-duration);
}

@keyframes skew-appear {
  0% {
    transform: skewX(-80deg) scaleY(.1);
  }

  20% {
    transform: skewX(65deg) scaleY(.3);
  }

  40% {
    transform: skewX(-50deg) scaleY(.5);
  }

  60% {
    transform: skewX(35deg) scaleY(.7);
  }

  80% {
    transform: skewX(-20deg) scaleY(.9);
  }

  100% {
    transform: none;
  }
}

.skew-appear {
  animation: skew-appear var(--skew-appear-duration) ease-out;
  filter: url(#blur);
}