schematics-figure-toolbar {
  --faded-nav-link-color: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-light-lightness) - 15%), 1);
  --underline-height: .2rem;

  display: flex;
  position: relative;
  align-self: flex-end;
  font-size: var(--ms0);
  line-height: var(--triple-baseline);
  letter-spacing: var(--schematics-letter-spacing);
  color: var(--faded-nav-link-color);
  text-shadow: var(--schematics-text-shadow);
}

schematics-figure-toolbar nav {
  --item-width: 4rem;
  --directional-item-width: 2rem;
  --item-spacing: var(--triple-baseline);

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

schematics-figure-toolbar [data-active-item-index="0"] { --active-item-index: 0; }
schematics-figure-toolbar [data-active-item-index="1"] { --active-item-index: 1; }
schematics-figure-toolbar [data-active-item-index="2"] { --active-item-index: 2; }
schematics-figure-toolbar [data-active-item-index="3"] { --active-item-index: 3; }
schematics-figure-toolbar [data-active-item-index="4"] { --active-item-index: 4; }

.schematics-figure-toolbar__scan-lines {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(var(--underline-height) * -1);
  left: 0;
  color: var(--color-bg-dark);
  z-index: 2;
  pointer-events: none;
}

.schematics-figure-toolbar__figure-links-container {
  position: relative;
}

schematics-figure-toolbar ul {
  position: relative;
}

.schematics-figure-toolbar__active-underline {
  display: block;
  position: absolute;
  left:
    calc(
      var(--directional-item-width) +
      ((var(--active-item-index) + 1) * var(--item-spacing)) +
      (var(--active-item-index) * var(--item-width))
    );
  top: 100%;
  width: var(--item-width);
  height: var(--underline-height);
  font-size: var(--ms0);
  background-color: var(--color-text-light);
  transition: left var(--figure-exit-transition-duration) var(--micro-interaction-animation-ease-out);
}

.schematics-figure-toolbar__item {
  display: inline-block;
  float: left;
  width: var(--item-width);
  text-align: center;
}

.schematics-figure-toolbar__item--directional {
  width: var(--directional-item-width);
  font-size: 1.8rem;
}

.schematics-figure-toolbar__item + .schematics-figure-toolbar__item {
  margin-left: var(--item-spacing);
}

.schematics-figure-toolbar__item a {
  transition: transform var(--micro-interaction-animation-duration) ease;
}

/* Disabled arrow link */
.schematics-figure-toolbar__directional-link:not([href]) {
  opacity: .4;
}

.schematics-figure-toolbar__item--active a,
.schematics-figure-toolbar__directional-link:not([href]) {
  cursor: default;
}

.schematics-figure-toolbar__item--active a,
.schematics-figure-toolbar__item a:hover,
.schematics-figure-toolbar__item a:focus {
  color: var(--color-text-light);
}

.schematics-figure-toolbar__item a:focus {
  outline-offset: 1em;
}

.schematics-figure-toolbar__directional-link__label {
  display: none;
}

.schematics-figure-toolbar__all-link {
  display: inline-block;
  position: relative;
  padding-left: calc(var(--baseline) * 2.5);
  font-size: var(--ms-1);
}

.schematics-figure-toolbar__all-link svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: var(--double-baseline);
}
