@custom-media --toolbar-layout-all-links-visible (min-width: 75em);

.schematics-figure-toolbar {
  --item-width: calc(var(--baseline) * 5);
  --directional-item-width: 5rem;
  --item-spacing: var(--baseline);

  --faded-nav-link-color: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-light-lightness) - 15%), 1);
  --underline-height: .17rem;

  display: flex;
  font-size: var(--ms0);
  line-height: var(--triple-baseline);
  letter-spacing: var(--schematics-letter-spacing);
  color: var(--faded-nav-link-color);
  text-shadow: var(--schematics-text-shadow);
  transition:
    text-shadow var(--micro-interaction-animation-duration),
    color var(--micro-interaction-animation-duration);

  &--transitioning {
    text-shadow: 0 0 .2em var(--color-text-light);
    color: #fff;
  }

  &--transitioning--showing {
    animation: fade var(--micro-interaction-animation-duration) ease-in;
  }

  &--transitioning--hiding {
    animation: fade var(--micro-interaction-animation-duration) var(--figure-exit-fade-out-timing);
    animation-direction: reverse;
    animation-delay: calc(var(--figure-exit-transition-duration) - var(--micro-interaction-animation-duration));
  }

  nav {
    position: relative;
    display: flex;
    width: 100%;

    @media (--layout-aside-always-visible) {
      justify-content: space-between;
    }
  }

  [data-active-item-index="0"] { --active-item-index: 0; }
  [data-active-item-index="1"] { --active-item-index: 1; }
  [data-active-item-index="2"] { --active-item-index: 2; }
  [data-active-item-index="3"] { --active-item-index: 3; }
  [data-active-item-index="4"] { --active-item-index: 4; }

  ul {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--item-spacing);
    justify-content: space-between;
    width: 100%;

    @media (--layout-aside-always-visible) {
      width: auto;
    }
  }

  &__figure-links-container {
    position: relative;
    display: flex;
    justify-content: stretch;
    width: 100%;

    @media (--layout-aside-always-visible) {
      justify-content: flex-end;
      width: auto;
    }
  }

  &__active-underline {
    display: none;

    @media (--toolbar-layout-all-links-visible) {
      display: block;
      position: absolute;
      left:
        calc(
          (var(--active-item-index) * var(--item-spacing)) +
          (var(--active-item-index) * var(--item-width)) +
          (var(--item-width) * .2)
        );
      bottom: 0;
      width: calc(var(--item-width) * .6);
      height: var(--underline-height);
      border-radius: .5rem;
      background-color: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-light-lightness) - 20%), 1);
      transition: left var(--figure-exit-transition-duration) var(--micro-interaction-animation-ease-out);
    }
  }

  &__item--active a,
  &__directional-link:not([href]) {
    cursor: default;
  }

  &__item {
    display: inline-block;
    position: relative;
    width: var(--item-width);
    text-align: center;

    &--directional {
      width: var(--directional-item-width);

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }

      a {
        display: inline-block;
        width: 100%;
      }

      @media (--toolbar-layout-all-links-visible) {
        display: none;
      }
    }

    &--figure a {
      font-variant-ligatures: none; /* we don't want it to look like fi g. */
    }

    &--figure:not(&--active) {
      display: none;

      @media (--toolbar-layout-all-links-visible) {
        display: inline-block;
      }
    }

    a {
      transition: color var(--micro-interaction-animation-duration) ease;
    }

    &--active a,
    a:hover,
    a:focus {
      color: var(--color-text-light);
    }

    a:focus {
      outline-offset: 1em;
    }

    @media (--toolbar-layout-all-links-visible) {
      &--figure + &--figure::after {
        content: "\b7";
        position: absolute;
        right: calc(100% + (var(--item-spacing) / 2) - .5rem);
        width: 1rem;
        overflow: visible;
        opacity: .7;
      }
    }
  }

  /* Disabled arrow link */
  &__directional-link:not([href]) {
    opacity: .4;
  }

  &__directional-link__label {
    display: none;
  }

  &__all-link {
    display: none;
    padding-left: calc(var(--baseline) * 2.5);
    font-size: var(--ms-1);
    z-index: 1;

    @media (--layout-aside-always-visible) {
      display: inline-block;
    }

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: var(--double-baseline);
    }
  }

  @media (min-width: 40em) {
    --directional-item-width: 2rem;
  }

  @media (--toolbar-layout-all-links-visible) {
    --item-spacing: calc(var(--baseline) * 4);
  }

  @media (--layout-aside-always-visible) {
    --item-width: calc(var(--baseline) * 4);

    font-size: var(--ms-1);
  }
}
