@custom-media --toolbar-layout-active-link-visible
  (max-width: 46.9375em),
  (min-width: 60em) and (max-width: 79.9375em),
  (--layout-capped-height) and (max-width: 104.9375em);
@custom-media --toolbar-layout-all-links-visible
  (min-width: 47em) and (--layout-full-screen-figure),
  (min-width: 80em) and (--layout-not-capped-height),
  (min-width: 105em) and (--layout-capped-height);

.schematics-figure-toolbar {
  --item-width: calc(var(--baseline) * 5);
  --directional-item-width: 5rem;
  --item-spacing: var(--baseline);

  --normal-nav-link-color: var(--color-text);
  --faded-nav-link-color: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-lightness) - 15%), 1);
  --underline-height: .17rem;

  display: flex;
  font-size: var(--ms0);
  line-height: var(--triple-baseline);
  letter-spacing: var(--schematics-letter-spacing);

  &--transitioning {
    --normal-nav-link-color: var(--color-highest-contrast);
    --faded-nav-link-color: var(--color-highest-contrast);
    --schematics-text-shadow: 0 0 .3em var(--color-highest-contrast);
  }

  &__item--figure__transitioning-active {
    @media (--toolbar-layout-active-link-visible) {
      --normal-nav-link-color: var(--color-highest-contrast);
      --faded-nav-link-color: var(--color-highest-contrast);
      --schematics-text-shadow: 0 0 .3em var(--color-highest-contrast);
    }
  }

  &--transitioning--showing {
    animation: fade var(--figure-appear-transition-duration) ease-in;
  }

  &--transitioning--hiding {
    animation: fade var(--figure-exit-transition-duration) var(--figure-exit-fade-out-timing);
    animation-direction: reverse;
    animation-delay: var(--figure-pre-exit-transition-duration);
    animation-fill-mode: forwards;
  }

  nav {
    position: relative;
    display: flex;
    width: 100%;

    @media (--layout-aside-always-visible) {
      justify-content: space-between;
    }
  }

  [data-active-item-index="0"] { --active-item-index: 0; }
  [data-active-item-index="1"] { --active-item-index: 1; }
  [data-active-item-index="2"] { --active-item-index: 2; }
  [data-active-item-index="3"] { --active-item-index: 3; }
  [data-active-item-index="4"] { --active-item-index: 4; }

  ul {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--item-spacing);
    justify-content: space-between;
    width: 100%;

    @media (--toolbar-layout-all-links-visible) {
      width: auto;
    }
  }

  &__figure-links-container {
    position: relative;
    display: flex;
    justify-content: stretch;
    width: 100%;

    @media (--toolbar-layout-all-links-visible) {
      width: auto;
      margin: 0 auto;
    }

    @media (--layout-aside-always-visible) {
      margin: 0;
    }

    @media (--layout-aside-always-visible) {
      justify-content: flex-end;
      width: auto;
    }
  }

  &__active-underline {
    display: none;

    @media (--toolbar-layout-all-links-visible) {
      display: block;
      position: absolute;
      left:
        calc(
          (var(--active-item-index) * var(--item-spacing)) +
          (var(--active-item-index) * var(--item-width)) +
          (var(--item-width) * .2)
        );
      bottom: 0;
      width: calc(var(--item-width) * .6);
      height: var(--underline-height);
      border-radius: .5rem;
      background-color: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-light-lightness) - 20%), 1);
      transition: left var(--figure-exit-transition-duration) var(--micro-interaction-animation-ease-out);
    }
  }

  &__item--active a,
  &__directional-link:not([href]) {
    cursor: default;
  }

  a {
    color: var(--faded-nav-link-color);
    text-shadow: var(--schematics-text-shadow);
    filter: var(--transitioning-link-filter);
    transition:
      filter var(--micro-interaction-animation-duration),
      text-shadow var(--micro-interaction-animation-duration),
      color var(--micro-interaction-animation-duration);
  }

  a&__item--figure__transitioning-active {
    @media (--toolbar-layout-active-link-visible) {
      filter: blur(.1em);
    }
  }

  &--transitioning--showing a {
    transition-duration: var(--figure-appear-transition-duration);
  }

  &--transitioning--hiding a {
    transition-duration: var(--figure-pre-exit-transition-duration);
  }

  &__item {
    display: inline-block;
    position: relative;
    width: var(--item-width);
    text-align: center;

    &--directional {
      width: var(--directional-item-width);

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }

      a {
        display: inline-block;
        width: 100%;
      }

      @media (--toolbar-layout-all-links-visible) {
        display: none;
      }
    }

    &--figure a {
      font-variant-ligatures: none; /* we don't want it to look like fi g. */
    }

    &--figure:not(&--active) {
      display: none;

      @media (--toolbar-layout-all-links-visible) {
        display: inline-block;
      }
    }

    &--active a,
    &--active a:hover {
      color: var(--normal-nav-link-color);
    }

    a:focus {
      outline-offset: .1em;
    }

    @media (--toolbar-layout-all-links-visible) {
      &--figure + &--figure::after {
        content: "\b7";
        position: absolute;
        right: calc(100% + (var(--item-spacing) / 2) - .5rem);
        width: 1rem;
        overflow: visible;
        opacity: .7;
      }
    }
  }

  /* Disabled arrow link */
  &__directional-link:not([href]) {
    opacity: .4;
  }

  &__directional-link__label {
    display: none;
  }

  &__all-link {
    display: none;
    padding-left: calc(var(--baseline) * 2.5);
    font-size: var(--ms-1);
    z-index: 1;

    @media (--layout-aside-always-visible) {
      display: inline-block;
    }

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: var(--double-baseline);
    }

    &:focus {
      /* The outline gets slightly hidden behind the <main> overflow otherwise */
      outline-offset: -.2em;
    }
  }

  @media (min-width: 40em) {
    --directional-item-width: 2rem;
  }

  @media (--toolbar-layout-all-links-visible) {
    --item-spacing: calc(var(--baseline) * 4);
  }

  @media (--layout-aside-always-visible) {
    --item-width: calc(var(--baseline) * 4);

    font-size: var(--ms-1);
  }

  scan-lines {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    color: var(--color-page-bg);
    transition: color var(--color-scheme-transition-duration) var(--color-scheme-transition-easing);
  }
}
