@import "./figure-43-diagram.css";

@keyframes draw-line {
  from {
    stroke-dasharray: var(--animatable-line-length);
    stroke-dashoffset: var(--animatable-line-length);
  }

  to {
    stroke-dasharray: var(--animatable-line-length);
    stroke-dashoffset: 0;
  }
}

.diagram-custom-element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.diagram {
  max-width: 40rem;
  max-height: 40rem;

  &--svg {
    width: 100%;
    height: 100%;
  }

  &--html {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
