@keyframes erratic-rotate-scale {
  0%  { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 0deg); }
  5%  { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 360deg); }
  10% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 0deg); }
  15% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 360deg) scale(1); }
  20% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 0deg); }
  25% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 360deg) scale3d(.5, .5, .5); }
  30% { transform: translateZ(var(--half-cube-size)) rotate3d(1, .2, .5, 0deg); }
  35% { transform: translateZ(var(--half-cube-size)) rotate3d(1, .2, .5, 360deg); }
  40% { transform: translateZ(var(--half-cube-size)) rotate3d(1, .2, .5, 0); }
  45% { transform: translateZ(var(--half-cube-size)) rotate3d(1, .2, .5, 360deg) scale3d(1.5, 1.5, 1.5); }
  50% { transform: translateZ(var(--half-cube-size)) rotate3d(1, .2, .5, 0deg); }
  55% { transform: translateZ(var(--half-cube-size)) rotate3d(1, .2, .5, 360deg); }
  60% { transform: translateZ(var(--half-cube-size)) rotate3d(1, .2, .5, 0); }
  65% { transform: translateZ(var(--half-cube-size)) rotate3d(1, .2, .5, 360deg) scale3d(.4, .4, .4); }
  70% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 0deg); }
  75% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 360deg) scale(1, 1, 1); }
  80% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 0deg); }
  85% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 360deg); }
  90% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 0deg); }
  95% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 360deg) scale(1); }
  100% { transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 0deg) scale(.1, .1, .1); }
}

figure-43-diagram {
  /* Percentage units in translateZ aren't supported, so we need to modify the cube size manually */
  --cube-size: 40vw;
  --half-cube-size: calc(var(--cube-size) / 2);

  .cube {
    --border-width: .0625rem;

    position: relative;
    width: var(--cube-size);
    height: var(--cube-size);
    transform-style: preserve-3d;

    &__face {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--cube-size);
      height: var(--cube-size);
      border: var(--border-width) solid var(--color-text);

      &--front {
        transform: rotateY(0deg) translateZ(var(--half-cube-size));
      }

      &--back {
        transform: rotateY(180deg) translateZ(var(--half-cube-size));
      }

      &--right {
        transform: rotateY(90deg) translateZ(var(--half-cube-size));
      }

      &--left {
        transform: rotateY(-90deg) translateZ(var(--half-cube-size));
      }

      &--top {
        transform: rotateX(90deg) translateZ(var(--half-cube-size));
      }

      &--bottom {
        transform: rotateX(-90deg) translateZ(var(--half-cube-size));
      }
    }
  }

  .diagram--thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;

    .cube {
      --cube-size: 4rem;
      --half-cube-size: 2rem;
      --border-width: .15625rem;

      transform: translateZ(var(--half-cube-size)) rotate3d(1, 1, 1, 30deg);
    }
  }

  .cube:not(.diagram--thumbnail .cube) {
    animation: erratic-rotate-scale 70s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @media (min-width: 40em) {
    .cube:not(.diagram--thumbnail .cube) {
      --cube-size: 30vw;
      --half-cube-size: 15vw;
    }
  }

  @media (--layout-aside-always-visible) {
    .cube:not(.diagram--thumbnail .cube) {
      --cube-size: 15rem;
      --half-cube-size: 7.5rem;
    }
  }
}
