:root {
  --schematics-figure-light-up-duration: 600ms;
  --schematics-figure-light-up-easing: ease-in;
}

@keyframes light-up-diagram {
  50% {
    filter: drop-shadow(0 0 .1em #fff);
    color: #fff;
  }
}

@keyframes light-up-text {
  50% {
    text-shadow: 0 0 .2em var(--color-text-light);
    color: #fff;
  }
}

@keyframes jitter {
  0% { transform: translateX(.08em) translateY(.05em); }
  10% { transform: translateX(.02em) translateY(.01em); }
  10% { transform: translateX(.06em) translateY(.05em); }
  30% { transform: translateX(.05em) translateY(.07em); }
  50% { transform: translateX(0) translateY(.04em); }
  70% { transform: translateX(.06em) translateY(0); }
  80% { transform: translateX(.03em) translateY(.02); }
  90% { transform: translateX(.01em) translateY(.05); }
  100% { transform: translateX(.05em) translateY(.08em); }
}

.schematics-figure__figure {
  position: relative;
  color: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-light-lightness) + 5%), 1);
  opacity: 1;
  transition: opacity .2s ease-out;
}

.schematics-figure__figure--exiting {
  opacity: 0;
  transition: opacity calc(var(--figure-exit-transition-duration) - .2s) cubic-bezier(.55, 0, 1, .45);
  transition-delay: .2s;
}

.schematics-figure__scan-lines {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.schematics-figure__figure__diagram-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: filter var(--figure-exit-transition-duration), color var(--figure-exit-transition-duration);
}

.schematics-figure__figure--light-up .schematics-figure__figure__diagram-container {
  animation: light-up-diagram var(--schematics-figure-light-up-duration) var(--schematics-figure-light-up-easing);
}

.schematics-figure__figure--exiting .schematics-figure__figure__diagram-container {
  filter: drop-shadow(0 0 .15em #fff);
  color: #fff;
  animation: jitter var(--figure-exit-transition-duration);
}

.schematics-figure__figure__diagram-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@keyframes text-shadow-flicker {
  0% {
    text-shadow: 0 0 .2em var(--color-text-light);
    color: #fff;
  }

  30% {
    text-shadow: 0 0 .03em var(--color-text-light);
  }

  40% {
    text-shadow: 0 0 .3em var(--color-text-light);
    color: #fff;
  }

  55% {
    text-shadow: 0 0 .02em var(--color-text-light);
  }

  70% {
    text-shadow: 0 0 .1em var(--color-text-light);
    color: #fff;
  }

  100% {
    text-shadow: 0 0 .07em var(--color-text-light);
    color: var(--page-bg-color);
  }
}

.schematics-figure__figure__figcaption {
  font-size: var(--ms2);
  line-height: var(--double-baseline);
  letter-spacing: .1em;
  text-shadow: var(--schematics-text-shadow);
  z-index: 1;
}

.schematics-figure__figure--exiting .schematics-figure__figure__figcaption {
  animation:
    text-shadow-flicker var(--figure-exit-transition-duration) ease-out,
    jitter var(--figure-exit-transition-duration);
}

.schematics-figure__figure--light-up .schematics-figure__figure__figcaption {
  animation: light-up-text var(--schematics-figure-light-up-duration) var(--schematics-figure-light-up-easing);
}

.schematics-figure__figure__figcaption__character {
  position: relative;
  visibility: hidden;
}

.schematics-figure__figure__figcaption__character--visible {
  visibility: visible;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.schematics-figure__figure__figcaption__character--latest-visible::after {
  content: "_";
  animation: blink .5s cubic-bezier(0, .55, .45, 1) infinite;
  animation-delay: .13s;
}

.schematics-figure__figure__figcaption__character--latest-visible:last-child::after {
  opacity: 0;
  animation-iteration-count: 3;
}

/* To ensure both the caption and figure are able to receive pointer events */
.schematics-figure__figure__diagram-container:hover,
.schematics-figure__figure__figcaption:hover {
  z-index: 1;
}
