.schematics-figure {
  &--14 .diagram {
    transform: translateX(-25%);
  }

  &--14 &__figure {
    min-width: 40em;

    &__diagram-container {
      grid-row: 3 / -1;
      grid-column: 1 / -3;
    }

    &__figcaption {
      grid-column: 4  / -1;
      grid-row: 2 / span 2;
      align-self: center;
    }

    @media (min-width: 30em) {
      &__figcaption {
        br:nth-of-type(2),
        br:nth-of-type(5) {
          display: none;

          + span::before {
            content: "\00a0 ";
          }
        }
      }
    }

    @media (min-width: 40em) {
      &__diagram-container {
        grid-row: 2 / -1;
      }

      &__figcaption {
        grid-column: span 5 / -1;
        grid-row: 1 / span 3;
        font-size: var(--ms1);
      }
    }

    @media (--layout-full-screen-figure-with-full-size-logo) {
      min-width: 100%;

      &__diagram-container {
        grid-column: 1 / -4;
        grid-row: 1 / -1;
      }

      &__figcaption {
        font-size: var(--ms2);
      }
    }
  }

  &--18 &__figure {
    min-width: 32rem;

    &__diagram-container {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__figcaption {
      grid-column: 3 / -1;
      grid-row: 6 / -2;
      padding-left: var(--double-baseline);
      align-self: flex-end;
      justify-self: flex-end;
    }

    @media (min-width: 40em) {
      &__diagram-container {
        grid-column: 1 / -2;
      }

      &__figcaption {
        grid-column: 4 / 9;
        padding-left: 0;

        br:nth-of-type(1) {
          display: none;

          + span::before {
            content: "\00a0 ";
          }
        }
      }
    }

    @media (--layout-aside-always-visible) {
      &__diagram-container {
        grid-column: 1 / -3;
      }

      &__figcaption {
        grid-column: 3 / 9;
      }
    }
  }

  &--36 &__figure {
    &__diagram-container {
      grid-column: 2 / -1;
      grid-row: 3 / -1;

      @media (min-width: 40em) {
        grid-column: 3 / -1;
        grid-row: 3 / -1;
      }

      @media (--layout-aside-always-visible) {
        grid-column: 4 / -1;
        grid-row: 2 / -1;
      }
    }

    &__figcaption {
      grid-column: 1 / -1;
      grid-row: 2 / span 3;
      padding-left: var(--double-baseline);

      @media (min-width: 30em) {
        br:nth-of-type(2),
        br:nth-last-of-type(1) {
          display: none;

          + span::before {
            content: "\00a0 ";
          }
        }
      }

      @media (min-width: 40em) {
        br:nth-of-type(4) {
          display: none;

          + span::before {
            content: "\00a0 ";
          }
        }
      }

      @media (min-width: 48em) {
        br:nth-of-type(3) {
          display: none;

          + span::before {
            content: "\00a0 ";
          }
        }
      }

      @media (--layout-aside-always-visible) {
        padding-left: 0;
      }
    }
  }

  &--43 &__figure {
    &__diagram-container {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__figcaption {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      justify-self: center;
      align-self: center;
    }
  }
}
