.schematics-figure__figure {
  position: relative;
  color: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-light-lightness) + 5%), 1);
  filter: none;
  opacity: 1;
  transition:
    opacity .1s ease-out,
    filter .1s ease-out;
}

.schematics-figure__figure--exiting {
  filter: blur(1em);
  opacity: 0;
  transition-duration: .2s;
}

.schematics-figure__scan-lines {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--color-bg-dark);
  z-index: 2;
  pointer-events: none;
}

.schematics-figure__figure__diagram-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.schematics-figure__figure__diagram-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.schematics-figure__figure__figcaption {
  font-size: var(--ms2);
  line-height: var(--double-baseline);
  letter-spacing: .1em;
  text-shadow: var(--schematics-text-shadow);
  z-index: 1;
}

.schematics-figure__figure__figcaption__character {
  position: relative;
  visibility: hidden;
}

.schematics-figure__figure__figcaption__character--visible {
  visibility: visible;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.schematics-figure__figure__figcaption__character--latest-visible::after {
  content: "_";
  animation: blink .5s cubic-bezier(0, .55, .45, 1) infinite;
  animation-delay: .13s;
}

.schematics-figure__figure__figcaption__character--latest-visible:last-child::after {
  opacity: 0;
  animation-iteration-count: 3;
}

/* To ensure both the caption and figure are able to receive pointer events */
.schematics-figure__figure__diagram-container:hover,
.schematics-figure__figure__figcaption:hover {
  z-index: 1;
}
