schematics-figure-previews {
  --preview-bg:
    hsla(
      var(--hue-main),
      var(--sat-main),
      calc(var(--color-bg-dark-lightness) * .7),
      1
    );

  display: block;
  width: 100%;
  margin-top: calc(var(--baseline) * 6);
}

schematics-figure-previews ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--double-baseline);
}

.schematics-figure-previews__item {
  aspect-ratio: 1;
}

.schematics-figure-previews__item a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: .2em;
  background-color: var(--preview-bg);
}

.schematics-figure-previews__item__diagram {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--micro-interaction-animation-duration);
  filter: var(--schematics-figure-shadow-filter);
}

.schematics-figure-previews__item--14 .schematics-figure-previews__item__diagram svg {
  width: 50%;
  height: 50%;
}

.schematics-figure-previews__item--18 .schematics-figure-previews__item__diagram svg {
  width: 100%;
  height: 100%;
  transform: translate(17%, 28%);
}

.schematics-figure-previews__item--36 .schematics-figure-previews__item__diagram svg {
  width: 50%;
  height: 50%;
  transform: translate(-10%);
}

.schematics-figure-previews__item--43 .schematics-figure-previews__item__diagram svg {
  width: 40%;
  height: 40%;
}

.schematics-figure-previews__item a:hover .schematics-figure-previews__item__diagram {
  transform: scale(1.05);
}

.schematics-figure-previews__item__fig-num {
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--triple-baseline);
  text-align: center;
  font-size: var(--ms0);
  line-height: var(--baseline);
  text-shadow: var(--schematics-text-shadow);
  letter-spacing: var(--schematics-letter-spacing);
}

.schematics-figure-previews__item__scan-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  color: var(--preview-bg);
  z-index: 2;
}
