schematics-figure-previews {
  [data-color-scheme="dark"] & {
    --preview-bg-lightness-factor: .5;
  }

  [data-color-scheme="light"] & {
    --preview-bg-lightness-factor: .9;
  }

  --preview-bg:
    hsla(
      var(--hue-main),
      var(--sat-main),
      calc(var(--color-page-bg-lightness) * var(--preview-bg-lightness-factor)),
      1
    );

  --fade-duration: .1s;
  --pre-fade-duration: .2s;
  --grid-gap: var(--page-padding);
  --item-max-relative-width: 62vw;
  --item-max-static-width: 16rem;
  --item-size: min(var(--item-max-static-width), var(--item-max-relative-width));

  @media (prefers-reduced-motion: reduce) {
    --fade-duration: 0s;
    --pre-fade-duration: 0s;
  }

  display: block;
  width: 100%;
  min-height: var(--item-size); /* Prevents layout shift before previews load */

  @media (min-width: 40em) {
    --item-max-static-width: 18rem;
  }

  @media (--layout-aside-always-visible) {
    --grid-gap: var(--double-baseline);
    --item-max-relative-width: 35%;

    margin-top: calc(var(--baseline) * 12);
  }

  .&--transitioning--showing {
    animation: fade var(--fade-duration) ease-in;
  }

  .&--transitioning--hiding {
    animation: fade var(--fade-duration) ease-in;
    animation-direction: reverse;
    animation-delay: var(--pre-fade-duration);
  }

  ul {
    display: grid;
    grid-gap: var(--grid-gap);
    margin: 0 auto;
    grid-auto-flow: column;
    grid-auto-columns: var(--item-size);

    @media (--layout-aside-always-visible) {
      justify-content: center;
      grid-auto-flow: row;
      grid-auto-columns: auto;
      grid-template-columns: repeat(2, var(--item-size));
    }
  }

  .&__item {
    /* Sadly not widely enough supported yet
    * aspect-ratio: 1;
    * So using this good ol' hack instead... */
    position: relative;
    height: 0;
    padding-bottom: 100%;

    a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      border-radius: .4rem;
      background-color: var(--preview-bg);
      transition:
        transform calc(var(--fade-duration) + (var(--pre-fade-duration) / 2)) cubic-bezier(.55, 0, 1, .45),
        background-color var(--color-scheme-transition-duration) var(--color-scheme-transition-easing);
    }

    &__diagram {
      height: 100%;
      transition:
        transform var(--pre-fade-duration),
        filter var(--pre-fade-duration) ease-out,
        color var(--pre-fade-duration) ease-out;
      padding-top: var(--double-baseline);

      .diagram {
        width: 50%;
        height: 50%;
        transform: translateY(calc(var(--double-baseline) * -1));

        &--html {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    a:focus {
      transform: scale(1.15);
      transition-delay: calc(var(--pre-fade-duration) / 2);
    }

    a:hover &__diagram,
    a:focus &__diagram {
      transform: scale(1.05);
    }

    a:focus &__diagram {
      filter: drop-shadow(0 0 .15em var(--color-highest-contrast));
      color: var(--color-highest-contrast);
    }

    &__fig-num {
      position: absolute;
      left: 0;
      right: 0;
      bottom: var(--triple-baseline);
      text-align: center;
      font-size: var(--ms0);
      line-height: var(--baseline);
      text-shadow: var(--schematics-text-shadow);
      letter-spacing: var(--schematics-letter-spacing);
      font-variant-ligatures: none; /* we don't want it to look like "fi g". */
    }

    &__scan-lines {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: var(--preview-bg);
      z-index: 2;
      transition: color var(--color-scheme-transition-duration) var(--color-shceme-transition-easing);
    }
  }
}
