@custom-media --footer-layout-left-aligned (min-width: 50em);

footer {
  font-size: var(--ms-2);
  line-height: var(--schematics-title-height);
  z-index: 10;

  a {
    svg {
      width: 1.5em;
      margin-right: .6em;
      vertical-align: middle;
    }

    span {
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  @media (--footer-layout-left-aligned) {
    > * + * {
      margin-left: calc(var(--baseline) * 3);
    }
  }

  @media (--layout-full-screen-figure) {
    /* To avoid layout shift; the view switcher will make it visible when ready */
    visibility: hidden;
  }
}

#copyright {
  opacity: .9;
  float: right;

  @media (--footer-layout-left-aligned) {
    float: none;
  }
}
