@import "./reset.css";
@import "./sr-only.css";

@import "./custom-media.css";
@import "./rhythm-and-scale.css";
@import "./shared-animations.css";
@import "./color-schemes.css";

@import "./grid.css";
@import "./header.css";
@import "./aside.css";
@import "./footer.css";
@import "./button.css";

@import "../components/AboutSchematics/about-schematics.css";
@import "../components/SchematicsFigure/schematics-figure.css";
@import "../components/SchematicsFigure/schematics-figure-placements.css";
@import "../components/SchematicsFigurePreviews/schematics-figure-previews.css";
@import "../components/Diagram/diagram.css";
@import "../components/SchematicsFigureToolbar/schematics-figure-toolbar.css";

:root {
  --page-padding: var(--baseline);

  --micro-interaction-animation-duration: .2s;
  --micro-interaction-animation-ease-out: cubic-bezier(.22, 1, .36, 1);

  --schematics-text-shadow: 0 0 .11rem var(--color-text);
  --schematics-letter-spacing: .1em;
  --schematics-figure-shadow-filter: drop-shadow(0 0 .05rem var(--color-highest-contrast));

  --figure-pre-exit-transition-duration: .5s;
  --figure-exit-transition-duration: .3s;
  --figure-appear-transition-duration: .2s;
  --figure-exit-fade-out-timing: cubic-bezier(.55, 0, 1, .45);

  @media (min-width: 30em) {
    --page-padding: var(--double-baseline);
  }

  @media (--layout-aside-always-visible) {
    --page-padding: var(--triple-baseline);
  }
}

[data-visible-view*="individual"] {
  @media (--layout-full-screen-figure-with-small-logo) {
    --page-padding: var(--baseline);
  }
}

html {
  height: 100%;
  min-height: -webkit-fill-available;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100%;
  min-height: -webkit-fill-available;
  overflow-x: scroll;
  scroll-behavior: smooth;
  font-family: helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background-color: var(--color-page-bg);
  color: var(--color-text);
  transition:
    background-color var(--color-scheme-transition-duration) var(--color-scheme-transition-easing),
    color var(--color-scheme-transition-duration) var(--color-scheme-transition-easing);

  &[data-visible-view*="individual"] {
    height: 100%;
  }

  @media (--layout-aside-always-visible) {
    overflow-x: hidden;
  }

  @media (--layout-capped-height) {
    display: flex; /* For vertical centering */
  }
}

a {
  &:hover,
  &:focus {
    color: var(--color-text-hover);
  }
}

main {
  position: relative;
}
