@import "./reset.css";
@import "./sr-only.css";
@import "./custom-media.css";
@import "./grid.css";
@import "./header.css";
@import "./aside.css";
@import "./footer.css";
@import "./shared-animations.css";
@import "./color-schemes.css";
@import "../components/AboutSchematics/about-schematics.css";
@import "../components/SchematicsFigure/schematics-figure.css";
@import "../components/SchematicsFigure/schematics-figure-placements.css";
@import "../components/SchematicsFigurePreviews/schematics-figure-previews.css";
@import "../components/Diagram/diagram.css";
@import "../components/SchematicsFigureToolbar/schematics-figure-toolbar.css";

:root {
  --baseline: .85rem;
  --scale-factor: 1.05;
  --base-font-size: 1rem;

  --double-baseline: calc(var(--baseline) * 2);
  --triple-baseline: calc(var(--baseline) * 3);

  --ms-2: calc(var(--ms-1) / var(--scale-factor));
  --ms-1: calc(var(--base-font-size) / var(--scale-factor));
  --ms0: var(--base-font-size);
  --ms1: calc(var(--ms0) * var(--scale-factor));
  --ms2: calc(var(--ms1) * var(--scale-factor));

  --page-padding: var(--baseline);

  --micro-interaction-animation-duration: .2s;
  --micro-interaction-animation-ease-out: cubic-bezier(.22, 1, .36, 1);

  --schematics-text-shadow: 0 0 .11rem var(--color-text);
  --schematics-letter-spacing: .1em;
  --schematics-figure-shadow-filter: drop-shadow(0 0 .05rem var(--color-highest-contrast));

  --figure-pre-exit-transition-duration: .5s;
  --figure-exit-transition-duration: .3s;
  --figure-appear-transition-duration: .2s;
  --figure-exit-fade-out-timing: cubic-bezier(.55, 0, 1, .45);

  --color-scheme-transition-duration: .3s;
  --color-scheme-transition-easing: cubic-bezier(.25, 1, .5, 1);

  @media (min-width: 40em) {
    --baseline: .9rem;
    --scale-factor: 1.1;
    --base-font-size: 1.1rem;
  }

  @media (--baseline-and-font-scaled-up) {
    --baseline: 1.2rem;
    --base-font-size: 1.4rem;
  }

  @media (min-width: 30em) {
    --page-padding: var(--double-baseline);
  }

  @media (--layout-aside-always-visible) {
    --page-padding: var(--triple-baseline);
  }
}

[data-visible-view*="individual"] {
  @media (--layout-full-screen-figure-with-small-logo) {
    --page-padding: var(--baseline);
  }
}

html {
  height: 100%;
  min-height: -webkit-fill-available;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100%;
  min-height: -webkit-fill-available;
  overflow-x: scroll;
  scroll-behavior: smooth;
  font-family: helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background-color: var(--color-page-bg);
  color: var(--color-text);
  transition:
    background-color var(--color-scheme-transition-duration) var(--color-scheme-transition-easing),
    color var(--color-scheme-transition-duration) var(--color-scheme-transition-easing);

  &[data-visible-view*="individual"] {
    height: 100%;
  }

  @media (--layout-aside-always-visible) {
    overflow-x: hidden;
  }

  @media (--layout-capped-height) {
    display: flex; /* For vertical ventering */
  }
}

a {
  &:hover,
  &:focus {
    color: var(--color-text-hover);
  }
}

main {
  position: relative;
}

.button {
  --button-side-padding: var(--double-baseline);
  --button-height: var(--triple-baseline);
  --color-button-bg: #000;
  --color-button-text: var(--color-text);
  --color-button-bg-hover: var(--color-white);
  --color-button-text-hover: var(--color-text-dark);

  display: inline-block;
  position: relative;
  min-width: calc(var(--baseline) * 11);
  padding: 0 var(--button-side-padding);
  border-radius: .3rem;
  font-size: var(--ms-1);
  line-height: var(--button-height);
  letter-spacing: .05em;
  text-align: center;
  color: var(--color-button-text);
  background-color: var(--color-button-bg);
  transition: color .1s, background-color .1s;
}

.button:hover,
.button:focus {
  color: var(--color-button-text-hover);
  background-color: var(--color-button-bg-hover);
}
