:root {
  --baseline: .85rem;
  --scale-factor: 1.05;
  --base-font-size: 1rem;

  /* Convenience vars */
  --double-baseline: calc(var(--baseline) * 2);
  --triple-baseline: calc(var(--baseline) * 3);

  /* Font sizes */
  --ms-2: calc(var(--ms-1) / var(--scale-factor));
  --ms-1: calc(var(--base-font-size) / var(--scale-factor));
  --ms0: var(--base-font-size);
  --ms1: calc(var(--ms0) * var(--scale-factor));
  --ms2: calc(var(--ms1) * var(--scale-factor));

  @media (min-width: 40em) {
    --baseline: .9rem;
    --scale-factor: 1.1;
    --base-font-size: 1.1rem;
  }

  @media (--baseline-and-font-scaled-up) {
    --baseline: 1.2rem;
    --base-font-size: 1.4rem;
  }
}
