[data-visible-view*="about"] {
  --color-page-bg: var(--color-bg-light);
  --color-page-bg-contrast: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-text-contrast: var(--color-text-light);
  --color-text-hover: hsla(var(--hue-main), var(--sat-main), calc(var(--color-text-dark-lightness) + 30%), 1);
  --color-highest-contrast: #fff;

  .button {
    --color-button-text: var(--color-bg-light);
    --color-button-text-hover: var(--color-text-dark);
    --color-button-bg-hover: hsla(var(--hue-main), var(--sat-main), calc(var(--color-bg-light-lightness) - 20%), 1);
  }
}

@keyframes slide-up-fade {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

about-schematics {
  max-width: 70ch;

  @media (--layout-aside-always-visible) {
    margin: calc(var(--baseline) * 12) 0;
  }

  article {
    opacity: 0;
    font-size: var(--ms1);
    line-height: var(--triple-baseline);
    animation: slide-up-fade .8s cubic-bezier(0.16, 1, 0.3, 1) .3s;
    animation-fill-mode: forwards;

    > p:nth-of-type(1)::first-line {
      font-variant: all-small-caps;
      font-weight: 700;
      letter-spacing: var(--schematics-letter-spacing);
    }

    > * {
      margin-top: var(--triple-baseline);
      margin-bottom: var(--triple-baseline);
    }

    small {
      display: block;
      margin-top: calc(var(--baseline) * 5);
      font-size: var(--ms-1);
      line-height: var(--double-baseline);
      opacity: .8;
    }
  }

  a {
    text-decoration: underline;
    text-underline-position: under;
  }

  em {
    font-style: italic;
  }

  li {
    position: relative;
    padding-left: var(--double-baseline);
    margin-top: var(--baseline);
    margin-bottom: var(--baseline);

    &::before {
      content: "\b7";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 2em;
    }
  }

  h2 {
    font-weight: 700;
  }
}
